{% extends 'base.html.twig' %}

{% block title %}Votre panier{% endblock %}

{% block body %}
<section class="bg-light p-3">
    
</section>
<div class="container panier">
    <h1>Votre créneau</h1>
    <table class="table">
        <thead>
            <tr>
                <th>Prix</th>
                <th>Total</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for element in dataPanier %}
            <tr>
                <td class="text-end">{{ element.produit.price }} €</td>
                <td class="text-end">{{ element.produit.date.format('d/m/Y') }}</td>
                <td>{{ element.quantite }}</td>
                <td class="text-end">{{ element.quantite * element.produit.price }} €</td>
                <td>
                    </a>
                    <a href="{{path('carte_delete', {id: element.produit.id})}}" class="btn btn-danger">
                        <i class="fa fa-trash"></i>
                    </a>
                    <a href="{{path('add_basket',{id: piece.id})}}" class="btn btn-success">
                        <i class="fa fa-trash"></i>
                    </a>
                </td>
            </tr>
            {% else %}
            <tr>
                <td colspan="5" class="text-center">Votre panier est vide</td>
            </tr>
            {% endfor %}
        </tbody>
        <tfoot>
            <tr>
                <td colspan="3">Total</td>
                <td class="text-end">{{ total }} €</td>
                <td>
                    <a href="#" class="btn btn-success"><i class="fa fa-credit-card"></i>
                    </a>
                    <a href="{{path('carte_delete_all')}}" class="btn btn-danger">X
                    </a>
                    
                </td>
            </tr>
        </tfoot>
    </table>

</div>

{% endblock %}